.page-gt {
	width: 80%;
	margin: 50px 0 150px 100px;
}

.page-header {
	height: 40px;
	background: pink;
	line-height: 40px;
	padding-left: 10px;
}

.page-info {
	font-size: 15px;
	margin-top: 20px;
}