/* .listDonHang {
    display: none;
} */

.infoUser table {
    margin: 0 auto;
}

.infoUser > table > tbody > tr > td > input {
    display: none;
}

#changepass {
    transform: scale(0);
    transition-duration: .2s; 
}