/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
.listSanPham {
	margin: 50px auto;
    border-collapse: collapse;
    width: 100%;
}

.listSanPham td, .listSanPham th {
    border: 1px solid #ddd;
    padding: 8px;
}

.listSanPham tr td:first-child, .listSanPham tr th {
	width: 4em;
	text-align: center;
}

/* những tr chẵn sẽ có màu khác */
.listSanPham tr:nth-of-type(even) {background-color: #f2f2f2;}
.listSanPham tr:not(:last-child):hover {background-color: #ddd;}

/* Last child là dòng tổng tiền */
.listSanPham tr:last-child { background-color: #ddd; }

.listSanPham th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* Nút xóa */
.fa-close {
    text-align: center;
    width: 100%;
    height: 100%;;
    cursor: pointer;
}

.fa-close:hover {
    color: red;
    transform: scale(1.5)
}

/* Nút thanh toán */
.thanhtoan {
    padding: 20px 30px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .2s;
}
.thanhtoan:hover {
    box-shadow: 5px 10px 18px #888888;
}
.thanhtoan:active {
    box-shadow: none;
    transition-duration: 0s;
}