/* Phải thêm .chitietSanpham để không trùng với h1 của taikhoan */
.chitietSanpham h1 {
    display: block;
    margin: 0 0 0 10px;
    float: left;
    overflow: hidden;
    /*khi k đủ chứa text thì phần text bị dư sẽ giấu đi*/
    font-size: 24px;
    color: #333;
    line-height: 40px;
    /*tăng khoảng cách dòng*/
}

.rating {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.rating .fa-star,
.rating .fa-star-o {
    color: #FD4;
    font-size: 24px;
}

.rowdetail {
    display: block;
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
    margin-top: 5px;
    clear: both;
}

.picture {
    float: left;
    overflow: hidden;
    width: 33%;
    position: relative;
    /*định vị trí phụ thuộc vào thành phần bao ngoài*/
    display: block;
}

.picture img {
    display: block;
    height: auto;
    margin: auto;
    /*cursor: pointer;
    thay đổi trỏ chuột đi đưa vào*/
    max-width: 100%;
}

.price_sale {
    float: left;
    position: relative;
    width: 33%;
    display: block;
}

.area_price {
    display: block;
    overflow: hidden;
    line-height: 20px;
    padding: 0 10px 10px;
}

.area_price strong {
    display: inline-block;
    /*hối nội tuyến*/
    overflow: hidden;
    font-size: 24px;
    color: #e10c00;
    vertical-align: middle;
    /*thành phần sẽ đc canh giữa theo thành phần bao ngoài*/
    margin-right: 10px;
}

.area_price span {
    /* giá tiền gạch ngang */
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #222;
}

.area_price label {
    display: inline-block;
    position: relative;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    /*hiển thị chữ đậm hay chữ thường*/
    border-radius: 3px;
    padding: 0 5px 0 8px;
    height: 18px;
}

.area_price label.tragop {
    background: #f28902;
    margin: 0 0 0 5px;
}

.area_price label.giamgia {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff9c00), to(#ec1f1f));
    background-image: -webkit-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
    background-image: -o-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
    background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
    margin: 0 0 0 5px;
}

.area_price label.moiramat {
    background: #1191f8;
    margin: 0 0 0 5px;
}

.area_price label.giareonline {
    background: #3fb846;
    margin: 0 0 0 5px;
}

.ship {
    background-color: #ecf7ed;
    border-radius: 3px;
    border: 1px solid #c4ddc8;
    margin: 5px 10px 10px;
    padding: 0 10px;
    font-weight: bold;
    line-height: 30px;
}

.ship i {
    width: 19px;
    height: 21px;
    margin: 4px 10px 0 0;
    float: left;
    font-size: 20px;
}

.ship div {
    border-left: 1px solid #c4ddc8;
    display: block;
    line-height: 30px;
    padding-left: 10px;
    margin-left: 28px;
    color: #30a43b;
    max-width: 1200px;
}

.area_promo {
    border: 1px solid #ddd;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin: 5px 10px 12px;
    padding-bottom: 10px;
}

.area_promo strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    padding: 15px 15px 10px 15px;
    text-transform: uppercase;
    /*Viết thành chữ hoa*/
}

.area_promo .promo {
    display: block;
    overflow: hidden;
    font-size: 14px;
    padding: 0 15px 5px 40px;
}

.promo i {
    color: #090;
    font-size: 20px;
    float: left;
    margin: 2px 0 0 -20px;
}

.area_order {
    display: block;
    overflow: hidden;
    margin: 10px;
}

.area_order .buy_now {
    display: block;
    overflow: hidden;
    padding: 7px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    text-align: center;
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    text-decoration: none;
    cursor: pointer;
}

.area_order .buy_now:hover {
    background: -webkit-linear-gradient(top, #fd6e1d, #f59000);
}

.area_order .buy_now h3 {
    margin: 10px 0;
}

.policy {
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-top: 10px;
    margin: 0 10px 10px 10px;
    padding-bottom: 5px;
}

.policy div {
    display: block;
    overflow: hidden;
    padding: 5px 0 5px 5px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 10px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.policy div i {
    display: block;
    width: 20px;
    height: 17px;
    float: left;
    margin: 3px;
    font-size: 18px;
}

.policy div p {
    margin: 0 0 0 28px;
    color: #288ad6;
}

.policy div.last {
    border-bottom: 0px;
}

.info_product {
    width: 33%;
    border: 1px solid #ddd;
    float: left;
    border-radius: 3px;
    display: block;
}

.info_product h2 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.info {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 5px;
}

.info li {
    list-style: none;
    display: table;
    border-top: 1px solid #eee;
    width: 100%;
    padding: 5px 0;
}

.info li p {
    /*clear: both;*/
    float: left;
    margin: 5px 0;
    width: 40%;
    color: #666;
    font-weight: bold;
}

.info li i {
    font-size: 25px;
}

.info li div {
    width: 60%;
    float: left;
    margin: 5px 0;
    color: #333;
    font-style: italic;
}


/* =================== Comment Area ================= */
.comment-area {
    float: none;
    width: 100%;
}

.comment-area h2 {
    margin: 10px 0 10px 10px;
}

/* Chat comment */
.comment {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat comment */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.comment::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.comment>i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
}

.comment h4 {
    /*float: left;*/
    margin-right: 20px;
}

.comment h4 i.fa-star {
    color: #FD4;
}

/* Style time text */
.time {
    float: left;
    color: #999;
}

.time:before {
    content: "\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

.comment-content {
    max-height: 450px;
    overflow-y: auto;
}

/* ================== Binh luan ==================*/
.guiBinhLuan {
    box-sizing: border-box;
    border: 10px solid #252525;
}

#inpBinhLuan {
    box-sizing: border-box;
    border: none;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
}

#btnBinhLuan {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#btnBinhLuan:hover {
    background-color: #4CBF50;
}

/*https://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/*/
div.stars {
    width: 250px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 30px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

input.star-2:checked~label.star:before {
    color: #F94;
}

input.star-3:checked~label.star:before {
    color: #FA4;
}

label.star:hover {
    transform: rotate(10deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/* ========================== responsive ============================*/
@media only screen and (max-width: 768px) {

    .picture,
    .price_sale,
    .info_product {
        float: none;
        width: 100%;
        margin: 10px 0;
    }

    .chitietSanpham h1 {
        float: none;
        width: 100%;
        margin: 0;
        padding-left: 10px;
    }

    .commentsArea h2 {
        text-align: center;
    }
}