.body-tuyendung{
	margin: 50px ;
	width: 90%;
}
.tuyendung-header{
	height: 40px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	background: pink;
}
.tuyendung-info{
	margin: 10px;
}
.tieude{
	color: #0C9;
	text-align: center;
	font-size: 28px;
}
.tuyendung-noidung{
	margin:10px 0 15px 25px;
}
ul li span{
	font-weight: bold;
	color: red;
}