* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    min-width: 1024px;
    background-color: #2f353a;
}

hr {
    color: rgb(95, 95, 95);
    background-color: rgb(95, 95, 95);
    border-top: 2px solid rgb(95, 95, 95);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

a {
    text-decoration: none;
    color: #222;
}

/* header */
header {
    z-index: 10;
    width: 100%;
    /* position: sticky; */
    padding: 20px 10px;
    background-color: #3a4149;
    border-bottom: 1px solid #23282c;
}

header h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

/* =========== Menu ================= */
.sidebar {
    float: left;
    width: 170px;
}

.sidebar .nav-title {
    padding: 1.1rem 1rem;
    font-size: 1.5em;
    font-weight: 700;
    color: #e4e7ea;
    text-align: center;
    text-transform: uppercase;
}

.sidebar .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out;
}

.sidebar .nav-link {
    display: block;
    padding: 1em 1em;
    color: #73818f;
    text-decoration: none;
    background: 0 0;
}

.sidebar .nav-link.active,
.sidebar .nav-link.active i {
    background-color: #20a8d8;
    color: #fff;
}

.sidebar .nav-link:hover:not(.active),
.sidebar .nav-link:hover:not(.active) i {
    background-color: #4a7b8d;
    color: #fff;
}

.sidebar .nav-link i {
    display: inline-block;
    width: 1.09375em;
    margin: 0 .5rem 0 0;
    font-size: 1em;
    color: #73818f;
    text-align: center;
}

/* ==================== main ==================== */
.main {
    float: left;
    width: calc(100% - 175px);
    /* 150px la width cua aside */
}

.main>div {
    /* Mặc định ẩn mọi thứ trong main */
    display: none;
}

/* =================== Các class xử lý ảnh ================ */
/* Ảnh ẩn trong td */
.hideImg td img {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    border-radius: 5px;
    transition-duration: .1s;
    z-index: 2;
}
.hideImg td:hover img {
    height: 150px;
}

/* Ảnh đại diện */
.hinhDaiDien {
    max-height: 100px;
    max-width: 100px;
}

/* ==================== table ====================== */
.table-outline {
    width: 100%;
    border: 1px solid #23282c;
}


.table-header {
    width: 100%;
}
.table-header th {
    color: #e4e7ea;
    background-color: #3e464d;
    border-color: #23282c;
}

.table-header th i {
    /* Ẩn icon sort */
    transform: scale(0);
    transition-duration: .2s;
}

.table-header th:hover i {
    transform: scale(1)
}

.table-header th,
.table-content td {
    padding: .75rem;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #23282c;
}

.table-content {
    height: 550px;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
}

.table-content tr:nth-of-type(even) {
    background-color: #3e4144;
}

.table-content td {
    position: relative;
    color: #e4e7ea;
}

/* Link chi tiet san pham */
.table-content td a {
    display: block;
    color: #e4e7ea;
}

.table-content td a:hover {
    text-decoration: underline;
}

/* Hành động */
.table-content td i {
    padding: .3em;
    cursor: pointer;
}

.table-content td i.fa-wrench:hover {
    color: #63c2de;
}

.table-content td i.fa-trash:hover {
    color: #f86c6b;
}

.table-footer {
    background-color: #3e464d;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #23282c;
}

/* ================= table footer ===================== */
.table-footer input,
.table-footer button,
.table-footer select {
    padding: 5px 10px;
    border: 3px solid transparent;
    background-color: #cccece;
}

/* Nút bấm */
.table-footer button {
    cursor: pointer;
    background-color: #23282c;
    color: #e4e7ea;
    transition-duration: .2s;
}

.table-footer button:hover {
    background-color: #7a879486;
    border-color: #73818f;
}

/* ================== Những table thêm sửa ...  ====================== */
.overlayTable {
    width: auto;
    background-color: #23282c;
}

.overlayTable td:first-child {
    float: right;
}

.close {
    /* nút tắt form */
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 3rem;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #aaa;
    cursor: pointer;
    transition: .2s ease;
}

.close:hover {
    color: #fff;
    background-color: #f33;
    border-radius: 50%;
}

/* ======================= id =================== */
#khungThemSanPham {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 14;
    transition: .2s ease;
    transform: scale(0);
    background-color: #020202d8;
}

/* Div Tìm theo ngày */
.timTheoNgay {
    float: left;
    margin-right: 50px;
    padding-right: 10px;
    color: #e4e7ea;
    border-right: 2px solid #777;
}

/* ========================= tooltip from w3school  ====================== */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 21;
    bottom: -150%;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ========= ScrollBar ============ */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}